html{
     color-scheme: light dark;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.boom{
    width: 300px;
    height: 800px;
    display: flex;
    justify-content: end;
    flex-direction: column-reverse;
    align-items: center;
}

.stam{
    width: 8em;
    height: 13em;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: rgb(125, 125, 125);
}

.kop{
    width: 13em;
    height: 13em;
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(255, 195, 160);
    margin-bottom: -3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.eyes{
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
    margin-bottom: -4em;
}
.eyes .eye1, .eye2{
    width: 3em;
    height: 4em;
    background-color: rgb(225, 225, 225);
    clip-path: ellipse(42% 15% at 51% 53%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeColor{
    background-color: green;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.nose{
    margin-top: 1em;
    background-color: rgb(255, 35, 35);
    clip-path: ellipse(42% 15% at 51% 53%);
    width: 2em;
    height: 5em;
    z-index: 3;
}

.legs{
}

.legs .leg1, .leg2{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: red;
    width: 5em;
    height: 7em;
    z-index: 3;
}

#textCloud:checked .TextWolk{
    opacity: 0;

}

.textWolk{
    width: 10em;
    height: 10em;
}
.wolk{
    align-items: center;
    width: 15em;
    height: 10em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: white;
    color: black;
}
